{% extends "prescriber/header.html" %}

{% block content %}
<div class="container-fluid">
    <h2 id="loading">Create Questionnaire</h2>
    <div id="qBuilder">
        <div class="form-group">
            <label for="exampleInputEmail1">Questionnaire Name</label>
            <input type="text" class="form-control" id="questionnaire-name" placeholder="Name">
        </div>
        <hr>
        <div id="questionnaire-form"></div>

        <form class="form-inline" id="addQaSet" onsubmit="return false;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Topic:</div>
                    </div>
                    <input class="form-control" type="text" name="name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Add Question Set</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/questionnaireBuilder.js"></script>
{% endblock %}
