{% extends "common/header.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <h2>Upcoming</h2>
    <div class="row">
        {% for patient in patients %}
            <div class="patient-card-container col-lg-3">
                {% include 'patient/snippets/patient_card.html' with patient=patient %}
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <h1>Thank you for visiting PsyGuide. To begin, please <a href="{% url 'login' %}">Login</a>
        or <a href="{% url 'register' %}">Register</a>.</h1>
    </div>
{% endif %}
{% endblock %}
