{% extends "prescriber/header.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <h1>All Patients</h1>
    <a class="btn btn-primary" href="/addpatient">Add</a>
    <br/><br/>

    {% if patients|length > 0 %}
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Birthday</th>
                
            </tr>
            {% for patient in patients %}
                <tr>
                    <td><a href="/viewpatient?pk={{ patient.pk }}" class="btn btn-primary">View</a></td>
                    <td>{{ patient.last_name |capfirst}} </td>
                    <td>{{ patient.first_name |capfirst}}</td>
                    <td>{{ patient.birthday }}</td>
                    <td hidden>{{ patient.pk }}</td>
                    
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            <h3>There doesn't seem to be anything here.</h3>
            <small class="text-muted">
                Try adding a patient
            </small>
        </div>
    {% endif %}
</div>
{% else %}
<div>
    <h1>You Must Login to View Patient List</h1>
</div>
{% endif %}
{% endblock %}
