.container-fluid {
    padding-top: 116px;
}

.btn {
    margin-top: 0 !important;
}

.patient-card {
    margin-bottom: 10px;
}

.navbar-brand>img {
    height: 90px;
}

.patient-card-container {
    padding: 0 5px;
}

td.fit,
th.fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
}
