body {
    padding-top: 150px;
}

.patient-card {
    margin-bottom: 10px;
}

.navbar-brand>img {
    height: 90px;
}

.patient-card-container {
    padding: 0 5px;
}

#questionnaire-form>table {
    margin-bottom: 100px;
}

td.fit,
th.fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
    vertical-align: middle;
}
