body {
    padding-top: 150px;
}

.patient-card {
    margin-bottom: 10px;
}

.navbar-brand>img {
    height: 90px;
}

.patient-card-container {
    padding: 0 5px;
}

#questionnaire-form table {
    margin-bottom: 100px;
}

td.fit,
th.fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
}

/*
    Fix annoying bootstrap striped table
    rule taking precedent over alert-danger
*/
.table-striped > tbody > .alert-danger {
  background-color: #f8d7da !important;
}
.table-striped > tbody > .alert-danger:nth-child(odd) {
  background-color: #f5c7cb !important;
}


.set-add-question, .set-add-answer {
    width: 100%;
}
