{% extends "header.html" %}
{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            {% if questionnaire and patient %}
                <div class="alert alert-warning">
                    <h4>Administering {{ questionnaire.name }} to {{ patient.first_name }} {{ patient.last_name }}</h4>
                </div>
                <div id="alert-container" style="display: none;">
                    <div class="alert alert-danger">
                        Please fill out all questions.
                    </div>
                </div>
                <h2 id="loading">Loading Questionnaire...</h2>
                <div id="questionnaire-form"></div>
                <form id="background-form" method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="ppk" value="{{ patient.pk }}">
                    <input hidden type="text" name="qpk" value="{{ questionnaire.pk }}">
                    <input hidden type="text" name="qrData" value="">
                    <input hidden type="text" name="qrScore" value="">
                    <input hidden type="text" name="qrSeverity" value="">
                    <input hidden type="text" name="qrTreatment" value="">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            {% elif patient %}
                <h3>Choose questionnaire to administer to {{ patient.first_name }} {{ patient.last_name }}</h3>
                <div class="list-group">
                {% for questionnaire in questionnaires %}
                    <a href="{% url 'questionnaire:administer' %}?ppk={{ patient.pk }}&qpk={{ questionnaire.pk }}" class="list-group-item list-group-item-action">{{ questionnaire.name }}</a>
                {% endfor %}
                </div>
            {% else %}
                <h2>No questionnaire specified.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
    {% include 'snippets/please_login.html'%}
{% endif %}

{% endblock %}

{% block scripts %}
{% if questionnaire and patient %}
<script type="application/javascript">
    var containerObj = JSON.parse("{{ questionnaire.data|escapejs }}");
    var scoring = containerObj.scoring;
    var questionnaire = containerObj.questionnaire;

    $(document).ready(function(){
        loadQuestionnaire("#questionnaire-form");

        $("#loading").hide();
    });
</script>

<script src="/static/js/questionnaire.js"></script>
{% endif %}



{% endblock %}
