{% extends "common/header.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-6">
        {% if patient %}
            <h1>Patient: {{ patient.first_name|capfirst }} {{ patient.last_name|capfirst }}</h1>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th class="fit text-right">Birthday</th>
                        <td>{{ patient.birthday }}</td>
                    </tr>
                    <tr>
                        <th class="fit text-right">Diagnosis</th>
                        <td>{{ patient.diagnosis }}</td>
                    </tr>
                    <tr>
                        <th class="fit text-right">Care Plan</th>
                        <td>{{ patient.care_plan }}</td>
                    </tr>
                    <tr>
                        <th class="fit text-right">Care Stage</th>
                        <td>{{ patient.current_stage }}</td>
                    </tr>
                    <tr>
                        <th class="fit text-right">Prescription</th>
                        <td>{{ patient.current_script }}</td>
                    </tr>
                    <tr>
                        <th class="fit text-right">Dose</th>
                        <td>{{ patient.current_dose }}</td>
                    </tr>
                </tbody>
            </table> 
           
            <a href="{% url 'patient:edit' %}?pk={{ patient.pk}}" class ="btn btn-primary">Edit</a>
            <a href="{% url 'patient:delete' %}?pk={{ patient.pk}}" class ="btn btn-danger">Delete</a>
            <a class="btn btn-warning" href="{% url 'questionnaire:administer' %}?ppk={{ patient.pk }}">Evaluate</a>
            <br/><br/>
            <table>
                <tr>
                    <td id="diagram"></td>
                </tr>
            </table>

            {% if questionnaireResponses %}
                <h2>Questionnaire Responses:</h2>

                <table class="table table-striped">
                    <thead>
                        <th>Questionnaire</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        {% for response in questionnaireResponses %}
                            <tr>
                                <td class="fit text-right">{{ response.questionnaire.name }}</td>
                                <td>{{ response.date }}</td>
                                <td><a class="btn btn-primary" href="{% url 'questionnaire:view_response' %}?qrpk={{ response.pk }}" >View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <h1>No patient specified</h1>
            <a class="btn btn-primary" href="{% url 'index' %}">Return To Home</a>
            <a class="btn btn-primary" href="{% url 'patient:view_all' %}">View Patients</a>
            <a class="btn btn-primary" href="{% url 'patient:add' %}">Add Patient</a>
        {% endif %}
    </div>
</div>
{% else %}
    {% include 'common/snippets/please_login.html'%}
{% endif %}
</div>
<script type="text/javascript">
    const newSvg = decodeURI("{{chart}}").replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&#39;/g, '"').replace(/&quot;/g, "'"); 
    document.getElementById('diagram').innerHTML = newSvg;
</script>
{% endblock %}
