{% extends "prescriber/header.html" %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">           
            <h2>Login Page</h2>
                {% if form.errors %}
                <p>Invalid Input</p>
                {% endif %} 

                {% if next %}
                <p>Page Access Denied</p>
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p>Username: {{ form.username }}</p>
                    <p>Password: {{ form.password }}</p>
                    <input type="submit" = value="login" class="btn btn-dark">
                    <input type="hidden" = name="next" value="{{ next }}">
                </form> 
            </div>
            <div class="col-md-6">           
                    <h2>Register New Account</h2>
                    <a href="{% url 'register' %}" class="btn btn-dark">Register</a> 
                    </div>
        </div>
    </div>
{% endblock %}


