{% extends "common/header.html" %}
{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            {% if questionnaire and patient %}
                <div class="alert alert-warning">
                    <h4>Administering {{ questionnaire.name }} to {{ patient.first_name }} {{ patient.last_name }}</h4>
                </div>
                <div id="alert-container" style="display: none;">
                    <div class="alert alert-danger">
                        Please fill out all questions.
                    </div>
                </div>
                <div id="questionnaire-form">
                {% for questionSet in questionnaire.questionset_set.all %}
                    <div class="qa-set" data-set-pk="{{ questionSet.pk }}">
                        <h2>{{ questionSet.topic }}</h2>
                        {% with answers=questionSet.answer_set.all %}
                        {% with questions=questionSet.question_set.all %}
                        <table class="table table-striped qa-table" data-qaset-pk="{{ questionSet.pk }}">
                            <thead>
                                <tr>
                                    <th></th>
                                {% for answer in answers %}
                                    <th class="fit">{{ answer.text }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr class="question-row">
                                    <th>{{ question.text }}</th>
                                {% for answer in answers %}
                                    <td class="fit">
                                        <input type="radio"
                                            name="s{{ questionSet.pk }}q{{ question.pk }}"

                                            data-question-pk="{{ question.pk }}"
                                            data-answer-pk="{{ answer.pk }}">
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
                    <form id="data-form" method="post">
                        {% csrf_token %}
                        <input type="number" name="qpk" value="{{ questionnaire.pk }}" hidden>
                        <input type="number" name="ppk" value="{{ patient.pk }}" hidden>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            {% elif patient %}
                <h3>Choose questionnaire to administer to {{ patient.first_name }} {{ patient.last_name }}</h3>
                <div class="list-group">
                {% for questionnaire in questionnaires %}
                    <a href="{% url 'questionnaire:administer' %}?ppk={{ patient.pk }}&qpk={{ questionnaire.pk }}" class="list-group-item list-group-item-action">{{ questionnaire.name }}</a>
                {% endfor %}
                </div>
            {% else %}
                <h2>No questionnaire specified.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
    {% include 'common/snippets/please_login.html'%}
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#data-form").on("submit", function(){
        var allAnswered = true;
        var jObj = { response: {} };
        var that = this;
        $(`.qa-table`).each(function(){
            var qaSetPk = $(this).attr("data-qaset-pk");
            var qaSetResponse = {};
            $(this).find(".question-row").each(function(){
                var answered = false;
                $(this).find(`input[type="radio"]:checked`).each(function(){
                    //Get the question and answer pks from the input radio.
                    var questionPk = $(this).attr("data-question-pk");
                    var answerPk = $(this).attr("data-answer-pk");

                    qaSetResponse[questionPk] = answerPk;
                    answered = true;
                });

                if (!answered){
                    allAnswered = false;
                    $(this).addClass("alert-danger");
                }
                else {
                    $(this).removeClass("alert-danger");
                }
            });

            jObj.response[qaSetPk] = qaSetResponse;
        });

        if (!allAnswered){
            //Show fill out notice
            $("#alert-container").show();

            //Scroll page back to top of questionnaire to fill out missed
            $('html').animate({
                scrollTop: 0
            }, 500);

            return false;
        }
        else {
            $("#alert-container").hide();
        }

        $(this).append($(`<input type="text" name="response" hidden>`).attr("value", JSON.stringify(jObj)));
    });
</script>
{% endblock %}
