{% extends "common/header.html" %}

{% block titleSuffix %} - Create Questionnaire{% endblock %}

{% block head %}
<link href="/static/css/questionnaire.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <h1>{% block questionnaireAction %}Create{% endblock %} Questionnaire</h1>
    <br/>
    <div id="questionnaire-builder">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="questionnaire-name">Questionnaire Name</label>
                    <input type="text" class="form-control" id="questionnaire-name" placeholder="Name">
                </div>
            </div>
        </div>

        <br/>

        <div class="question-sets-container"></div>
        <form class="form-inline add-question-set" onsubmit="return false;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Title (optional):</div>
                    </div>
                    <input class="form-control" type="text" name="set-topic">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Add Question Set</button>
                    </div>
                </div>
            </div>
        </form>

        <hr>
        <br/><br/>

        <h1>Scoring</h1>
        <div class="row">
            <div class="col-xl-6">
                <div class="scoring-flags-container"></div>
                <button class="btn btn-success add-scoring-flag">Add Scoring Flag</button>
            </div>
        </div>

        <hr>
    </div>
    <br/><br/>
    <form id="data-form" method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Save Questionnaire</button>
    </form>
</div>

{% else %}
    {% include 'common/snippets/please_login.html' %}
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/js/questionnaire.js"></script>



{% block loadScript %}
<script type="text/javascript">

var mainContainer = $("#questionnaire-builder");
var mainQuestionnaire = new Questionnaire(mainContainer);

</script>
{% endblock %}

<script type="text/javascript">
$(".add-question-set").submit(function(e){
    var topicInput = $(this).find("[name='set-topic']");

    var setName = topicInput.val();
    mainQuestionnaire.addQuestionSet(setName);

    //Clear out name so it can be typed in again
    topicInput.val("");
});

$("#data-form").on("submit", function(){
    var jsonString = JSON.stringify(mainQuestionnaire.compileJson());
    //alert(jsonString);
    $(this).append($(`<input type="text" name="questionnaire" hidden>`).attr("value", jsonString));
});
</script>

{% endblock %}
