{% extends "common/header.html" %}

{% block titleSuffix %} - Create Questionnaire{% endblock %}

{% block head %}
<link href="/static/css/questionnaire.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <h1 id="loading">Create Questionnaire</h1>
    <br/>
    <div id="questionnaire-builder">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="questionnaire-name">Questionnaire Name</label>
                    <input type="text" class="form-control" id="questionnaire-name" placeholder="Name">
                </div>
            </div>
        </div>

        <br/>

        <div class="question-sets-container"></div>
        <form class="form-inline add-question-set" onsubmit="return false;">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Topic:</div>
                    </div>
                    <input class="form-control" type="text" name="set-topic">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Add Question Set</button>
                    </div>
                </div>
            </div>
        </form>

        <hr>
        <br/><br/>

        <h3>Scoring</h3>
        <div class="row">
            <div class="col-xl-6">
                <div class="scoring-flags-container"></div>
                <button class="btn btn-success add-scoring-flag">Add Scoring Flag</button>
            </div>
        </div>

        <hr>
    </div>
    <br/><br/>
    <form id="data-form" method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Save Questionnaire</button>
    </form>
</div>

{% else %}
    {% include 'common/snippets/please_login.html'%}
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
var questionSetContainer = $(`
<div class="question-set">
    <h2 class="topic"> <button class="btn btn-danger set-delete">Delete</button></h2>
    <div class="form-check">
        <label><input type="checkbox" name="scored" checked> Scored?</label>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th class="add-cell">
                <form class="form-inline set-add-answer" onsubmit="return false;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Answer:</div>
                            </div>
                            <input class="form-control" type="text" name="answer-text">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="add-cell">
                <form class="form-inline set-add-question" onsubmit="return false;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Question:</div>
                            </div>
                            <input class="form-control" type="text" name="question-text">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
    </table>

    <hr>
</div>
`);

var scoringFlagContainer = $(`
<div class="scoring-flag">
    <h3>Flag <button class="btn btn-danger flag-delete">Delete</button></h3>
    <div class="form-group">
        <label class="control-label">Condition</label>
        <input class="form-control" name="flag-expression" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Title</label>
        <input class="form-control" name="flag-title" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Description</label>
        <textarea class="form-control" name="flag-description"></textarea>
    </div>
</div>
`);

var editModal = $(`
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
`);
</script>
<script src="/static/js/questionnaire.js"></script>
{% endblock %}
