{% extends "common/header.html" %}

{% block titleSuffix %} - Questionnaire Response{% endblock %}

{% block head %}
<link href="/static/css/questionnaire.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6">
            {% if questionnaireResponse %}
                <div class="alert alert-info">
                    <h4>Viewing {{ questionnaireResponse.questionnaire.name }} response from {{ questionnaireResponse.patient.first_name }} {{ questionnaireResponse.patient.last_name }}</h4>
                </div>

                <h1>Results:</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Raw score:</b> {{ questionnaireResponse.getScore }}</li>
                </ul>
                <br/>

            {% for flag in questionnaireResponse.getScoringFlags %}
                <div class="alert alert-warning" role="alert">
                    <h3>{{ flag.title }}</h3>
                    <b>Description:</b>
                    <p>{{ flag.description }}</p>
                </div>
            {% endfor %}
                <a class="btn btn-primary" href="{% url 'patient:view' %}?pk={{ questionnaireResponse.patient.pk }}">View Patient</a>
                <a class="btn btn-primary" href="{% url 'patient:view_all' %}">Patient List</a>
                <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
                <br/><br/><br/><br/><br/>

                <h1>Original Response:</h1>
                <div id="questionnaire-form" style="filter: invert(30%);">
                {% for questionSetResponse in questionnaireResponse.questionsetresponse_set.all %}
                    <div class="qa-set" data-set-pk="{{ questionSet.pk }}">
                        <h2>{{ questionSetResponse.questionSet.topic }}</h2>
                        {% with questionResponses=questionSetResponse.questionresponse_set.all %}
                        <table class="table table-striped qa-table">
                            <thead>
                                <tr>
                                    <th></th>
                                {% for answer in questionSetResponse.questionSet.answer_set.all %}
                                    <th class="fit">{{ answer.text }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for questionResponse in questionResponses %}
                                <tr>
                                    <th>{{ questionResponse.question.text }}</th>
                                {% for answer in questionSetResponse.questionSet.answer_set.all %}
                                    <td class="fit">
                                    {% if answer == questionResponse.answer %}
                                        <input type="radio" checked>
                                    {% endif %}
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endwith %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <h2>No response specified</h2>
            {% endif %}
        </div>
    </div>
</div>

{% else %}
    {% include 'common/snippets/please_login.html' %}
{% endif %}

{% endblock %}
